/* 
 * index page styles 
 */

html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.particle {
    font-size: 1.2em;
    font-family: 'Oxygen', serif;
    margin: 0 auto;
    max-width: 900px;
    width: 75%;
}

.section {
    border-bottom: solid gray 1px;
}

.video {
   text-align: center; 
}

/* 
 * font styles 
 */

h2 {
    font-size: 3.0em;
}

h3 {
    font-size: 1.5em;
    line-height: 25%;
}

p {
}

a:link {
    text-decoration: none;
}
