/* 
 * index page styles 
 */

html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.particle {
    font-size: 1.2em;
    font-family: 'Oxygen', serif;
    margin: 0 auto;
    max-width: 900px;
    width: 75%;
}

.section {
    margin-top: 3em;
    border-bottom: solid #e5e5e5 1px;
}

.video {
    margin-top: 2em;
   text-align: center; 
}

#top {
    margin-top: 2em;
    font-size: 1.2em;
}

/* 
 * font styles 
 */

h2 {
    text-align: center;
    font-size: 3.0em;
    line-height: 80%;
}

h3 {
    font-size: 1.0em;
    line-height: 40%;
}

a:link {
    text-decoration: none;
}
